name: Verify layouts
on:
  push:
    branches: ['main']
  pull_request:
jobs:
  verify-layouts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Verify test standard layout
        run: |
          go run main.go -l layouts/layout.yml -a test-data
      - name: Verify test NPM layout
        run: |
          go run main.go -l layouts/layout-npm.yml -a test-data-npm --substitute-parameters parameters/npm-sigstore.json
